<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<div style="text-align: right; padding: 10px;">
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Выйти</button>
    </form>
</div>

<!-- Окно для редактирования -->
<body>
<div th:fragment="editForm(user, roles)" th:object="${user}">
    <form th:action="@{/save}" method="post" class="text-center font-weight-bold">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div>
            <label>ID:</label>
            <input type="text" class="form-control w-50 mx-auto" name="id" th:value="*{id}" disabled="disabled"/>
        </div>

        <div>
            <label>Name:</label>
            <input type="text" class="form-control w-50 mx-auto" th:value="*{name}" name="name"/>
        </div>
        <br/>
        <div>
            <label>Surname:</label>
            <input type="text" class="form-control w-50 mx-auto" name="surname" th:value="*{surname}"/>
        </div>

        <div>
            <label>Age:</label>
            <input type="number" class="form-control w-50 mx-auto" name="age" th:value="*{age}"/>
        </div>

        <div>
            <label>Username:</label>
            <input type="text" class="form-control w-50 mx-auto" name="username" th:value="*{username}"/>
        </div>

        <div>
            <label>Password:</label>
            <input type="text" class="form-control w-50 mx-auto" name="password"
                   placeholder="Оставьте пустым, если не хотите менять"/>
        </div>

        <label>Roles</label>
        <select multiple class="form-control w-50 mx-auto" name="roleIds">
            <option th:each="role : ${roles}" th:text="${role.roleName}"
                    th:value="${role.id}" s
                    th:selected="${user.roles.contains(role)}"
                    th:classappend="${user.roles.contains(role)} ? 'bg-warning' : ''"></option>
        </select>
        <br>

        <button class="btn btn-success w-50">save</button>
    </form>
</div>
</body>
</html>
